<!DOCTYPE html>

<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://thymeleaf.org"
       xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <!-- links -->
    <div th:insert="fragmentos :: links"></div>
    <!-- links -->
    <title>AmazonEvent</title>
</head>
<body style="background-color: rgb(240, 240, 240) ">
<header>
    <!-- As a heading -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #333e68">
        <a class="navbar-brand mb-0 h1" href="/eventos" style="float:left;font-weight: bold; color: white; font-size:30px">AmazonEvent</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" >
            <a class="nav-link" href="/meuseventos" role="button" style="color: white;font-size:22px" >Meus eventos</a>
            <a class="nav-link" href="/minhaConta" role="button" style="color: white;font-size:22px ">Minha conta</a>
        </div>
    </nav>
</header>
<section>
    <div class="container" style=" padding-bottom:30px;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background-color: rgb(240, 240, 240); padding-left:0px; border-color: rgb(199, 199, 199)">
                <li class="breadcrumb-item" aria-current="page"><a href="/eventos">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Novo Evento</li>
            </ol>
        </nav>
        <div>
            <form  action="#" th:action="@{/save}" th:object="${evento}"
                   method="post"enctype="multipart/form-data">
                <div class="form-group">
                    ID do evento
                    <input type="text" class="form-control" name="id" th:field="*{id}" readonly="readonly">
                </div>
                <div class="form-group">
                    Nome*
                    <input type="text" class="form-control" name="nome" th:field="*{nome}">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label> Categoria*</label>
                        <input type="text" class="form-control" name="categoria" th:field="*{categoria}">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Local*</label>
                        <input type="text" class="form-control" name="local" th:field="*{local}">
                    </div>
                </div>
                <div class="form-row">
                <div class="form-group col-md-6">
                    Endereço*
                    <input type="text" class="form-control" name="endereco" th:field="*{endereco}">
                </div>
              <div class="form-group col-md-6">
                  Imagem do Card*
                <input type="file" class="form-control"
                       id="imagem" name="fileEvento">
                </div>
                </div>
                <div class="form-group">
                    Complemento*
                    <input type="text" class="form-control" name="complemento" th:field="*{complemento}">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Data</label>
                        <input type="date" style="width:150px;text-align: center;border: 1px solid #ced4da;border-radius: 3.5px;color:gray;" value="" name="data" th:field="*{data}"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Hora</label>
                        <input type="time" style="width:150px;text-align: center;border: 1px solid #ced4da;border-radius: 3.5px;color:gray;" value="" name="hora" th:field="*{hora}"/>
                    </div>
                </div>
                <textarea id="summernote" type="text" class="form-control" name="descricao" th:field="*{descricao}"></textarea>
                <small class="form-text text-muted">(*) Campos Obrigatórios</small>
                <button type="submit" class="btn btn-primary" style="margin-top: 10px">Salvar alterações</button>
                <a href="/meuseventos" class="btn btn-light" role="button" style="margin-top: 10px">Cancelar</a>
            </form>
        </div>
    </div>
</section>
<!-- Footer -->
<div th:insert="fragmentos :: rodape"></div>
<!-- Footer -->
<!-- scripts -->
<div th:insert="fragmentos :: scripts"></div>
<!-- scripts -->
</body>
</html>