<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org"
xmlns: layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <!-- links -->
    <div th:insert="fragmentos :: links"></div>
    <!-- links --><title>AmazonEvent</title>
</head>
<body style="background-color: rgb(240, 240, 240);word-break: break-all;">
<header>
    <nav class="navbar navbar-expand-lg navbar-light"  style="background-color: #333e68">
        <a class="navbar-brand mb-0 h1" href="/eventos" style="float:left;font-weight: bold; color: white; font-size:30px">AmazonEvent</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation" style="color:white">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <a class="nav-link" href="/newevento" sec:authorize="hasRole('ROLE_ADMIN')" role="button" style="font-size:22px; color:white">+Criar Evento</a>
                <a class="nav-link" href="/minhaConta" role="button"  style="font-size:22px; color:white" >Minha Conta</a>
                <a class="nav-link" href="/meuseventos" sec:authorize="hasRole('ROLE_ADMIN')" role="button" style="font-size:22px; color:white" >Meus Eventos</a>
                <a class="nav-link" sec:authorize="hasRole('ROLE_USER')" href="" role="button" style="font-size:22px; color:white">Certificado</a>
            </ul>
        </div>
    </nav>
</header>
    <div class="container">
     <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background-color: rgb(240, 240, 240); padding-left:0px;">
                <li class="breadcrumb-item" aria-current="page"><a href="/eventos">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Detalhes</li>
            </ol>
        </nav>
        <br>
        <div style="display:block; margin-left: auto; margin-right: auto; border-radius:5px; background-color:white">
            <br>
        <main role="main" class="container" >
            <div class="row" style=" margin-left: auto; margin-right: auto;">
                <div class="col blog-main">
                        <div class="blog-post">
                            <h2 class="blog-post-title" style="font-weight: bold; margin-bottom: 20px;"><span th:text="${evento.nome}"></span></h2>
                            <p class="card-subtitle mb-2 text-muted">
                                <label>Categoria: <span th:text="${evento.categoria}"></span>; </label>
                                <br>
                                <label>Local: <span th:text="${evento.local}"></span>; </label>
                                <br>
                                <label>Endereço: <span th:text="${evento.endereco}"></span>; </label>
                                <label>Complemento: <span th:text="${evento.complemento}"></span>; </label>
                                <br>
                                <label>Data: <span th:text="${evento.data}"></span>; </label>
                            <label>hora: <span th:text="${evento.hora}"></span>; </label>
                        </p>
                            <p  style="width:20px; " class="card-text" th:utext="${evento.descricao}"></p>
                        </div>
                </div>
            </div>
        </main>
            <p style="text-align: center;padding:15px;margin-bottom:0;">
                <button class="btn btn-outline-primary" sec:authorize="hasRole('ROLE_USER')" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="text-align: center; width:200px;">
                    Inscrição
                </button>
            </p>
            <div class="collapse" id="collapseExample" style=" padding-top:0;">
                <div class="card card-body" style="border:none; padding-top:0;">
<hr>
                    <form method="post" th:object="${participante}"  style=" left:50%; display:block; margin-left: auto; margin-right: auto; border:none">
                        <br>
                        <h3 style="text-align: center;color: #50525f;font-weight: 100;margin-top: 0;line-height: normal;">Inscrição</h3>
                        <div class="form-group" style=" border-bottom: 1px solid #e1e1e1;width:100%;  margin-bottom: 30px;  display: inline-block;line-height: 30px;position: relative;">
                            <br>
                            <input type="text" value="" name="nomeParticipante" placeholder="Nome completo" style="width:100%;line-height: normal;   margin: 0; font: inherit;color: inherit;font-family: inherit; font-size: inherit; line-height: inherit; text-rendering: auto;border: none; outline: none;line-height: 26px;"/>
                        </div>
                        <div class="form-group" style=" border-bottom: 1px solid #e1e1e1;  margin-bottom: 30px;  display: inline-block;  width: 100%;line-height: 30px;position: relative;">
                            <input type="email" value="" name="email" placeholder="Email" style="line-height: normal;   margin: 0; font: inherit;color: inherit;font-family: inherit; font-size: inherit; line-height: inherit; text-rendering: auto;   width: 100%; border: none; outline: none;line-height: 26px;"/>
                        </div>
                        <div class="form-group" style=" border-bottom: 1px solid #e1e1e1;  margin-bottom: 30px;  display: inline-block;  width: 100%;line-height: 30px;position: relative;">
                            <input type="text" value="" name="cpf" placeholder="Cpf" class="Validate" style="line-height: normal;   margin: 0; font: inherit;color: inherit;font-family: inherit; font-size: inherit; line-height: inherit; text-rendering: auto;   width: 100%; border: none; outline: none;line-height: 26px;"/>
                        </div>
                        <button class="btn btn-primary btn-block" type="submit" >Inscrever</button>
                    </form>
                </div>
                </div>
            </div>
    </div>
    </div>
<!-- Footer -->
<div th:insert="fragmentos :: rodape"></div>
<!-- Footer -->
<!-- scripts -->
<div th:insert="fragmentos :: scripts"></div>
<!-- scripts -->

</body>
</html>