<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org"
      xmlns: layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <!-- links -->
    <div th:insert="fragmentos :: links"></div>
    <!-- links --> <title>AmazonEvent</title>
</head>
<body style="background-color: rgb(240, 240, 240) ">

<header>
    <nav class="navbar navbar-expand-lg navbar-light"  style="background-color:#333e68">
        <a class="navbar-brand mb-0 h1" href="/eventos" style="float:left;font-weight: bold; color: white; font-size:30px">AmazonEvent</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation" style="color:white">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <a class="nav-link" href="/newevento" sec:authorize="hasRole('ROLE_ADMIN')" role="button"  style="font-size:22px; color:white" >+Criar Evento</a>
                <a class="nav-link" href="/meuseventos" sec:authorize="hasRole('ROLE_ADMIN')" role="button" style="font-size:22px; color:white"  >Meus Eventos</a>
            </ul>

            <!-- Button trigger modal -->
            <button class="btn btn-outline-light my-2 my-sm-0"  style="text-align:center;" data-toggle="modal" data-target="#staticBackdrop">Sair</button>
            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel2">Você deseja sair?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Você tem certeza que deseja sair da conta?
                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancelar</button>
                            <form class="form-inline my-2 my-lg-0" method="post" th:action="@{/logout}">
                                <button class="btn btn-outline-primary" sec:authorize="isAuthenticated()" type="submit">Sim</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </nav>


</header>

<div class="container" >

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="background-color: rgb(240, 240, 240); padding-left:0px;">
            <li class="breadcrumb-item" aria-current="page"><a href="/eventos">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Perfil</li>
        </ol>
    </nav>

    <br>
    <div style="display:block; margin-left: auto; margin-right: auto; border-radius:5px; background-color:white">
        <br>

        <main role="main" class="container">
            <div class="row" style=" margin-left: auto; margin-right: auto;">
                <div class="col blog-main">
                    <div class="blog-post">
                        <h2 class="blog-post-title" style="font-weight: bold; margin-bottom: 20px;">Olá, <span th:text="${usuario.login}"></span>!</h2>
                        <p class="card-subtitle mb-2 text-muted">
                            <label sec:authorize="hasRole('ROLE_USER')">Tipo da conta: Comum <span ></span></label>
                            <label sec:authorize="hasRole('ROLE_ADMIN')">Tipo da conta: Organizador<span ></span></label>
                            <br>
                            <label>Email: <span th:text="${usuario.email}"></span></label>
                            <br>


                        </p>

                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<!-- Footer -->
<div th:insert="fragmentos :: rodape"></div>
<!-- Footer -->
<!-- scripts -->
<div th:insert="fragmentos :: scripts"></div>
<!-- scripts -->
</body>
</html>