<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org"
      xmlns: layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <!-- links -->
    <div th:insert="fragmentos :: links"></div>
    <!-- links -->
    <title>AmazonEvent</title>
</head>
<body style="background-color: rgb(240, 240, 240);">
<header>

    <!-- As a heading -->
    <nav class="navbar navbar-light" style="background-color: black">
        <span class="navbar-brand mb-0 h1" style="font-weight: bold; color: white; font-size:30px">AmazonEvent</span>
        <form class="form-inline my-2 my-lg-0">

            <a class="nav-link" href="/newevento" role="button" style="font-size:22px; color: white">+criar evento</a>
            <a class="nav-link" href="/meuseventos" role="button" style="font-size:22px; color: white" >meus eventos</a>
            <a class="nav-link" href="" role="button" style="font-size:22px; color: white">minha conta</a>
        </form>
    </nav>

</header>




<br><br>
<th:block th:include="mensagemValidacao"></th:block>
<div class="Container formParticipante" style="">
    <form method="post" th:object="${participante}" style="background-color:white;width: 450px;box-shadow: 10px 20px 40px rgb(212, 212, 212); position: absolute;">
        <br>
        <h3 style="text-align: center;color: #50525f;font-weight: 100;margin-top: 0;line-height: normal;">Participante</h3>
        <div class="form-group" style=" border-bottom: 1px solid #e1e1e1;  margin-bottom: 30px;  display: inline-block;  width: 100%;line-height: 30px;position: relative;">
            <br>
            <input type="text" value="" name="nomeParticipante" placeholder="Nome completo" style="line-height: normal;   margin: 0; font: inherit;color: inherit;font-family: inherit; font-size: inherit; line-height: inherit; text-rendering: auto;   width: 100%; border: none; outline: none;line-height: 26px;"/>
        </div>
        <div class="form-group" style=" border-bottom: 1px solid #e1e1e1;  margin-bottom: 30px;  display: inline-block;  width: 100%;line-height: 30px;position: relative;">
            <input type="email" value="" name="email" placeholder="Email" style="line-height: normal;   margin: 0; font: inherit;color: inherit;font-family: inherit; font-size: inherit; line-height: inherit; text-rendering: auto;   width: 100%; border: none; outline: none;line-height: 26px;"/>
        </div>
        <div class="form-group" style=" border-bottom: 1px solid #e1e1e1;  margin-bottom: 30px;  display: inline-block;  width: 100%;line-height: 30px;position: relative;">
            <input type="text" value="" name="cpf" placeholder="Cpf" class="Validate" style="line-height: normal;   margin: 0; font: inherit;color: inherit;font-family: inherit; font-size: inherit; line-height: inherit; text-rendering: auto;   width: 100%; border: none; outline: none;line-height: 26px;"/>
        </div>

        <button class="btn btn-primary btn-block" type="submit" >Participar</button>
    </form>
</div>
<!-- Footer -->
<div th:insert="fragmentos :: rodape"></div>
<!-- Footer -->
<!-- scripts -->
<div th:insert="fragmentos :: scripts"></div>
<!-- scripts -->
</div>
</body>
</html>