<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <!-- links -->
    <div th:insert="fragmentos :: links"></div>
    <!-- links -->
        <title>AmazonEvent</title>
</head>
</head>
<style>
    td,
    th {
        padding: 5px !important;
    }
    thead {
        font-size: 15px;
        background-color: rgb(189, 189, 189);
    }
    th,
    tbody,
    td {
        border: 1px solid black !important;
    }
</style>

<body style="text-align: center;">
    <div id="lista">
        <div class="container">
            <p></p>
            <h5>titulo do evento</h5>
            <h5>Lista de participantes</h5>
            <p></p>
            <div class="table" style="background-color:white;">
                <table class="table table-bordered" style="margin-bottom:0;">
                    <thead class="thead">
                    <tr>
                        <th>Nome Participante</th>
                        <th>Cpf</th>
                        <th>Email</th>
                        <th>Emitir certificado</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="participante : ${participantes}">
                        <td><span th:text="${participante.nomeParticipante}"></span></td>
                        <td><span th:text="${participante.cpf}"></span></td>
                        <td><span th:text="${participante.email}"></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <p>www.amazonevent.com</p>
    </div>
</body>

</html>