<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <!-- links -->
    <div th:insert="fragmentos :: links"></div>
    <!-- links -->
    <title>AmazonEvent</title>
</head>
<body style="background-color: rgb(240, 240, 240) ">
<header>
    <nav class="navbar navbar-expand-lg navbar-light"  style="background-color:#333e68">
        <a class="navbar-brand mb-0 h1" href="/eventos" style="float:left;font-weight: bold; color: white; font-size:30px">AmazonEvent</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation" style="color:white">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <a class="nav-link" href="/newevento" sec:authorize="hasRole('ROLE_ADMIN')" role="button"  style="font-size:22px; color:white" >+Criar Evento</a>
                <a class="nav-link" href="/minhaConta" role="button" style="font-size:22px; color:white">Minha conta</a>
            </ul>
        </div>
    </nav>
</header>
<section>
    <div class="container"  >
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background-color: rgb(240, 240, 240);padding-left:0px;">
                <li class="breadcrumb-item" aria-current="page"><a href="/eventos">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Meus eventos</li>
            </ol>
        </nav>
        <br>
        <form class="form-inline my-2 my-lg-0" th:action="@{/todosUsuarios}" method="get">
            <input class="form-control mr-sm-2" placeholder="Pesquisar.." type="text" id="txtSearch" name="usuario">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Buscar</button>
        </form>
        <div class="table-responsive" style="background-color:white;"  >
            <table class="table table-hover " style="margin-bottom:0;">
                <thead class="thead"style="background-color:#c4d2eb; text-align: center;">
                <tr>
                    <th>Nome</th>
                    <th>email</th>
                    <th></th>
                </tr>
                </thead>
                <tbody >
                <tr th:each="usuario : ${usuarios}" >
                    <td><span th:text="${usuario.login}"></span></td>
                    <td><span th:text="${usuario.email}"></span></td>
                    <!-- EXCLUSAO -->
                    <td style="vertical-align: middle;">
                        <!-- Button trigger modal -->
                        <button class="btn btn-outline-danger"style="text-align:center;" data-toggle="modal" data-target="#staticBackdrop1"><i class="fas fa-trash"></i></button>
                        <!-- Modal -->
                        <div class="modal fade"  id="staticBackdrop1" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Você deseja excluir o evento?</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Você tem certeza que deseja excluir este evento?
                                        Essas ações não podem ser revertidas.
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancelar</button>
                                     <!--   <a th:href="@{/delete/{id}(id=${evento.id})}" class="btn btn-outline-danger">Sim</a>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</section>
<!--paginação-->
<div th:insert="fragmentos :: paginacao"></div>
<!--paginação-->
<!-- Footer -->
<div th:insert="fragmentos :: rodape"></div>
<!-- Footer -->
<!-- scripts -->
<div th:insert="fragmentos :: scripts"></div>
<!-- scripts -->
</body>
</html>