<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <!-- links -->
    <div th:insert="fragmentos :: links"></div>
    <!-- links -->
    <title>AmazonEvent</title>
</head>
<body style="background-color: rgb(240, 240, 240) ">

<header>
    <nav class="navbar navbar-expand-lg navbar-light"  style="background-color:#333e68">
        <a class="navbar-brand mb-0 h1" href="/eventos" style="float:left;font-weight: bold; color: white; font-size:30px">AmazonEvent</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation" style="color:white">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <a class="nav-link" href="/newevento" sec:authorize="hasRole('ROLE_ADMIN')" role="button"  style="font-size:22px; color:white" >+Criar Evento</a>
                <a class="nav-link" href="/minhaConta" role="button" style="font-size:22px; color:white">Minha conta</a>
            </ul>

        </div>

    </nav>


</header>

<section>
    <div class="container"  >
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background-color: rgb(240, 240, 240);padding-left:0px;">
                <li class="breadcrumb-item" aria-current="page"><a href="/eventos">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Meus eventos</li>
            </ol>
        </nav>
        <br>
        <form class="form-inline my-2 my-lg-0" th:action="@{/meuseventos}" method="get">
            <input class="form-control mr-sm-2" placeholder="Pesquisar.." type="text" id="txtSearch" name="keyword">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Buscar</button>
        </form>
        <div class="table-responsive" style="background-color:white;"  >
            <table class="table table-hover " style="margin-bottom:0;">
                <thead class="thead"style="background-color:#c4d2eb; text-align: center;">
                <tr>
                    <th>Nome</th>
                    <th>categoria</th>
                    <th>Local</th>
                    <th>Data</th>
                    <th>Horario</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody >
                <tr th:each="evento : ${eventos}" >
                    <td ><a style="font-weight: bold;color:#003390;text-decoration:none;"th:href="${(#mvc.url('CC#getDetalhes').arg(0, evento.id)).build()}"><span th:text="${evento.nome}"></span></a></td>
                    <td><span th:text="${evento.categoria}"></span></td>
                    <td><span th:text="${evento.local}"></span></td>
                    <td><span th:text="${evento.data}"></span></td>
                    <td><span th:text="${evento.hora}"></span></td>
                    <!--edição-->
                    <div th:insert="fragmentos ::btnEditar" ></div>
                    <!--edição-->
                    <!--exclusão-->
                    <div th:insert="fragmentos ::btnExcluir" ></div>
                    <!--exclusão-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!--paginação-->
<div th:insert="fragmentos :: paginacao"></div>
<!--paginação-->
<!-- Footer -->
<div th:insert="fragmentos :: rodape"></div>
<!-- Footer -->
<!-- scripts -->
<div th:insert="fragmentos :: scripts"></div>
<!-- scripts -->
</body>
</html>